* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  // background: rgb(236, 24, 15);
  // background: linear-gradient(
  //   90deg,
  //   rgba(236, 24, 15, 1) 12%,
  //   rgba(202, 11, 213, 1) 53%,
  //   rgba(2, 251, 112, 1) 86%
  // );
}

body {
  //background-image: linear-gradient(135deg, #02000d, purple, darkcyan, #181a35);
  background-image: linear-gradient(135deg, #060824, #181c46, #2f3780, #161569);
  background-size: 500%;
  //background-image: linear-gradient(135deg, #181a35, #02000d);
  //background-image: linear-gradient(135deg, #181a35, #1f2149, #1f203f);
  // animation: fanimado 10s infinite;
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
