* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  // background: rgb(236, 24, 15);
  // background: linear-gradient(
  //   90deg,
  //   rgba(236, 24, 15, 1) 12%,
  //   rgba(202, 11, 213, 1) 53%,
  //   rgba(2, 251, 112, 1) 86%
  // );
}
