.section__about {
  display: flex;
  padding: 25px;
  // background-color: #191919;
  //background-color: red;

  //background-color: $bg-about;

  .about__info {
    color: $white;
    margin: 1.5rem;

    p {
      padding: 10px;
    }
  }
}
