/**Header Nesting**/

.section__header {
  padding: 35px;
  //background-color: #191919;
  //background-color: $bg-header;

  //background-color: $bg-about;

  min-height: 25rem;

  h1 {
    color: $h1Header;
    width: max-content;

    &:hover {
      color: rgb(207, 95, 117);
    }
  }

  .section__header__info {
    display: flex;
    align-items: center;

    .header__info {
      // font-weight: bold;
      font-style: oblique;
      color: $white;
    }

    .contain__image {
      display: flex;
      justify-content: right;

      img {
        width: 40rem;
        height: auto;
      }
    }
  }

  @media (max-width: 768px) {
    background-color: pink;
  }
}
