%flexbox {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}

/**Songs Section**/
.section__songs {
  //background-color: rgb(165, 39, 106);
  //background-color: #d84b96;
  padding: 60px;
  color: $white;
  //color: #000;

  h2 {
    margin: 1rem;
    //color: #000;
    //color: $white;
    filter: drop-shadow(10px 10px 15px, #c42121);
  }

  .songs__info {
    background-color: $bg-songsInfo;
    padding: 1rem;
    border-radius: 1rem;

    p,
    small {
      padding: 1rem;
    }
  }

  .container__textarea {
    @extend %flexbox;
    padding-top: 5rem;

    textarea {
      border: none;
      resize: none;
      caret-color: orange;
    }

    button {
      margin: 1rem;
      //outline: none;
    }
  }
}
